<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id="app">

        <div class="header">
            <div class="card">
                <h3>You</h3>
                <div class="lifeBackground">
                    <div :style="yLife" class=" life ">{{yourLife}}</div>
                </div>
            </div>

            <div class="card">
                <h3>Monster</h3>
                <div class="lifeBackground">
                    <div :style="mLife" class=" life ">{{monsterLife}}</div>
                </div>
            </div>
        </div>

        <div class="main">
            <div class="menu">
                <div v-if="!started" class="start" @click="started=true">STAR NEW GAME</div>
                <div v-else class="plaing">
                    <div @click="attack" :disabled="false" class="p attack">ATACK</div>
                    <div class="p special">SPECIAL ATACK</div>
                    <div @click="heal" class="p heal">HEAL</div>
                    <div @click="giveUp" class="p giveup">GIVE UP</div>
                </div>
            </div>
        </div>
        <div v-if="hits.length>0" class="hits">
            <div class="hit" v-for="item in hits" >
                <div class="h" v-for="(el,key,index) in item" >{{key}}: {{el}}</div>
            </div>
        </div>

    </div>
    <script src="js.js"></script>
</body>

</html>