* {
  margin: 0;
  padding: 0;
}
#app {
  max-width: 920px;
  margin: 0 auto;
}
.header {
  display: flex;
}

.header {
  height: 100px;
}
.card {
  padding: 30px;
  flex-grow: 1;
  align-content: space-between;
  text-align: center;
}
.lifeBackground {
  width: 100%;
  height: 45px;
  background: lightgrey;
  color: white;
}
.life {
  height: 30px;
  background: green;
  color: white;
  padding-top: 15px;
}

.main {
  margin-top: 20px;
  height: 100px;
  box-shadow: -1px 1px 2px 1px lightgray;
}
.hits {
  margin-top: 20px;
  text-align: center;
  box-shadow: -1px 1px 2px 1px lightgray;
}
.menu {
  position: relative;
}
.start {
  position: absolute;
  left: 50%;
  top: 50px;
  transform: translate(-50%, -50%);

  text-align: center;
  border-radius: 2px;
  padding: 10px;
  background: #a8feb1;
  width: 100px;
  box-shadow: -1px 1px 2px 1px lightgray;
}
.plaing {
  display: flex;
  position: absolute;
  left: 50%;
  top: 50px;
  transform: translate(-50%, -50%);
}
.p {
  margin-left: 5px;
  text-align: center;
  border-radius: 2px;
  padding: 10px;
  background: white;
  height: 30px;
  box-shadow: -1px 1px 2px 1px black;
}
.attack {
  background: #f77336;
}
.special {
  background: #f89c2f;
}
.heal {
  background: #a7ffb1;
}
.giveup {
  background: #fff;
}

.h:nth-child(odd) {
  background: orange;
}
.h:nth-child(even) {
  background: lightblue;
}
